<h1>Upload a picture</h1>

<%= form_for(@picture) do |f| %>

  <h3> 1. Pick a picture</h3>
  <div>
    <%= f.file_field :picture %>
    <%= render partial: "shared/error", locals: { model: @picture, field: :picture } %>
  </div>
  <h3> 2. Describe picture</h3>
  <div><%= f.label :caption %><br />
    <%= f.text_field :caption %>(Required)<br />
    <%= render partial: "shared/error", locals: { model: @picture, field: :caption } %>
  </div>

  <div><%= f.label :description %><br />
    <%= f.text_area :description %></div>

  <div><%= f.submit "Upload Pic!" %><% { id: "commit" } %></div>
<% end %>

