<!DOCTYPE html>
<html>
<head>
  <title>PictrRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to('Create_account',  new_user_registration_path, id: :create_account) %>
  <%= link_to('Sign_in', new_user_session_path, id: :sign_in) %>
  <%= link_to('Sign_out', destroy_user_session_path, method: :delete, id: :sign_out) %>
</nav>

<%= render partial: "shared/flash", locals: { type: :notice } %>
<%= render partial: "shared/flash", locals: { type: :alert } %>

<%= yield %>

</body>
</html>
